{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form role="form" action="{% url 'cloud_roni:add_point' player.id %}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
<button type="submit">Add Point</button>
</form>

<table id='points-table'>
    <th>Score</th>
    <th>Note</th>
    <th>Created By</th>
{% for score in points %}
    <tr> 
        <td>{{ score.point }}</td>
        <td>{{ score.note }}</td>
        <td>{{ score.point_owner }}</td>
    </tr>
{% endfor %}
</table>