.upload-btn {
    float: left;
    text-align: center;
    padding: 10px 40px;
    background-color: #3CC47C;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.form-container {
    width: 100%;
}

#csv-form {
    width: 160px;
    margin: auto;
}

#csv-info {
    width: 100%;
    margin-bottom: 10px;
}

#csv-info-inner {
    width: 400px;
    height: 100px;
    margin: auto;
    border-color: red;
    border-style: solid;
    background-color: #e8e8e8;
}

#csv-info-inner > ol {
    margin-top: 0;
}

#csv-info-inner > span {
    margin: 0 5px;
    float: left;
}