{% extends 'base.html' %}
{% load static %}
{% load fontawesome %}

{% block content%}
<link rel="stylesheet" href="{% static 'CloudRoni/css/team.css' %}">

<div id='player-table'>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <h1 class='page-header'>{{ team.team_name }}</h1>
    <a class='creation-button' href="{% url 'cloud_roni:create_player' team.id %}">{% fontawesome_icon 'plus-circle' %} Create New Player for {{ team.team_name }}</a>
    <a class='creation-button' style='float:right' href="{% url 'csv_upload:upload_csv' team.id %}">{% fontawesome_icon 'upload' %} Upload Players</a>
    <a style='float:left' href="{% url 'cloud_roni:place_trade' team.id %}">TRADE</a>
    <table>
    	<th>Player Name</th>
    	<th>Points Scored</th>
    	<th>Usage</th>
    	{% for player in team.userplayer_set.all %}
    		<tr>
    			<td><a href="{% url 'cloud_roni:players' team.id player.id %}">{{ forloop.counter }}. {{ player }}</a></td>
    			<td>{{ player.points_scored }}</td>
    			<td class='{{ player.usage }}'>{{ player.usage }}</td>
    		</tr>
    	{% endfor %}
    </table>
    <div class='back-link'>
        <a href="{% url 'cloud_roni:index' %}">Back to All Teams</a>
    </div>
</div>

{% endblock content %}