{% extends 'base.html' %}
{% load static %}
{% load fontawesome %}
{% debug %}

{% block content %}
<link rel="stylesheet" href="{% static 'CloudRoni/css/team.css' %}">

<div id='team-table'>
	<h1 class='page-header'>Teams</h1>
	<a id='create-team-link' class='creation-button' href="{% url 'cloud_roni:create_team' %}">{% fontawesome_icon 'plus-circle' %} Create New Team</a>
	{% if teams_list %}
	<table>
		<th>Team Name (In order of standings)</th>
		<th>Total Points</th>
		{% for team in teams_list %}
			<tr>
				<td><a href="{% url 'cloud_roni:team' team.id %}">{{ forloop.counter }}. {{ team.team_name }}</a></td>
				{% if team.players_present %}
					<td>{{ team.team_points }}</td>
				{% else %}
					<td>No Players</td>
				{% endif %}
			</tr>
		{% endfor %}
	{% else %}
		<p>These are not the teams you are looking for...</p>
{% endif %}
	</table>
	<div id='point-breakdown'>
		<h3 id='point-breakdown-header'>Point Break Down</h3>
		{% for team in teams_list %}
			<div class='point-set-container'>
				<table>
					<caption>
						{{ forloop.counter }}. {{ team.team_name }}
					</caption>
					<th>Created</th>
					<th>Note</th>
					<th>Point: {{ team.team_points }}</th>
					{% if team.get_past_points %}
						{% for point in team.get_past_points %}
							<tr>
								<td>{{ point.created|date:"m/d/Y H:i" }}</td>
								<td>{{ point.note }}</td>
								<td>{{ point.point }}</td>
							</tr>
						{% endfor %}
					{% else %}
						<tr><td colspan='3'>There have been not points scored yet.</td></tr>
					{% endif %}
				</table>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}