{% extends 'base.html' %}
{% load static %}
{% load fontawesome %}

{% block content%}
<link rel="stylesheet" href="{% static 'CloudRoni/css/team.css' %}">

<div id='player-table'>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <h1>It is working</h1>
    <form>
        <select name='players' multiple>
            {% for player in requesting_team.userplayer_set.all %}
                <option value="{{ player.id }}">{{ player }}</option>
            {% endfor %}
        </select>
        <input type='submit'>
    </form>
</div>
{% endblock content %}