{% extends 'base.html' %}
{% load static %}
{% load fontawesome %}
{% load debug %}

{% block content%}
<link rel="stylesheet" href="{% static 'users/css/users.css' %}">
<link rel="stylesheet" href="{% static 'CloudRoni/css/team.css' %}">

<form role="form" class='account-form' action="" method="post">
	{% csrf_token %}
	{{ form.as_p }}
<div class='button-holder button-div-100' style="margin-bottom: 5px;">
	<button class='button' name='submit'>Update</button>
</div>
<a href="{% url 'users:create_or_update_phone_number' %}"><span>Manage Phone Number<span></a>
</form>

{% endblock content %}