{% extends 'home_page_base.html' %}
{% load static %}
{% load fontawesome %}

{% block content %}
<link rel="stylesheet" href="{% static 'users/css/users.css' %}">

<h1 class='page-header'>Register</h1>

    <form method='post' id='register-form' action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class='button-holder'>
            <button name='submit'>Register</button>
        </div>
        <input type="hidden" name="next" value="{% url 'cloud_roni:index' %}" />
    </form>
    
{% endblock content%}