#nav-bar {
    width: 100%;
    background-color: #3CC47C;
    height: 40px;
}

/*Removes bottom margin causing an issue with
the footer.*/
form {
    margin-bottom: 0;
}

#nav-bar > span {
    color: #FFF;
    float: right;
}

.nav-item {
    margin: 10px;
    float: left;
}

.login {
    float: right;
    color: #FFF;
    margin-right: 5px;
    height: 100%;
    max-width: 25%;
    min-width: 165px;
}

.login > span {
    margin: 10px 5px 10px 0;
    float: left;
}

#nav-bar > a {
    float: left;
    height: 100%;
    width: 5%;
    color: #FFF;
    text-decoration: none;
    margin-left: 5px;
}

.login > a {
    color: #FFF;
    text-decoration: none;
    float: left;
    height: 100%;
}

body {
    margin: 0;
    background-color: #e8e8e8;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

#body {
    width: 90%;
    margin: auto;
    padding: 15px 0;
    background-color: #fff5e6;
    overflow: hidden;
}

.page-header {
    margin: 0 0 5px 0;
    text-align: center;
}

#add-email-alert {
    margin: auto;
    width: 280px;
    margin-top: 10px;
}

.creation-button {
    color: #3CC47C;
    text-decoration: none;
}