#nav-bar {
    float: left;
    width: 100%;
    background-color: #3CC47C;
    height: 40px;
}

#nav-bar > span {
    color: #FFF;
    float: right;
}

.login {
    float: right;
    color: #FFF;
    margin-right: 5px;
}

.login > span {
    margin-right: 5px;
}

#nav-bar > a, .login > a {
    color: #FFF;
    text-decoration: none;
}

body {
    margin: 0;
}

#body {
    float: left;
}