#team-table, #player-table {
    width: 1215px;
    margin: auto;
}

.NU {
    color: #cc3300;
}

.trade-header {
    margin: 0;
    text-align: center;
}

.trade-table {
    width: 50%;
    float: left;
}

.checkbox-cell {
    text-align: center;
}

.selected-player {
    background-color: rgb(208,208,208) !important;
}

.button-div-100 {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#point-breakdown-header {
    text-align: center;
    margin-bottom: 5px;
}

.point-set-container {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.point-set-container > th {
    height: 40px;
}

#rules-container {
    margin: 35px;
    line-height: 1.5;
}

#rules-container > p {
    text-align: center;
}
#rules-container > h3, #rules-container > h5, #rules-container > h1 {
    text-align: center;
    text-decoration: underline;
}

#rules-container > ol {
    width: 50%;
    margin: auto;
}

#rules-container > ul {
    width: 12%;
    margin: auto;
}